h3 {
    font-style: italic;
    font-size: 20px;
    color: rgb(23, 23, 24);
    
}
h5 {
    font-style: italic;
    font-size: 12pt;
    color: rgb(88, 6, 75);

}
h6 {
    font-size: 15px;
    color: rgb(8, 77, 71);
    font-weight: bold;
    
}

